.button-summer{
    color: rgb(255, 222, 92);
 margin-top: 400px;
          margin-left: 200px;
    

}
.button-spring{
    color: #f79ff7;
    margin-top: -23px;
    margin-left: 350px;

}
.button-winter{
    color: rgb(62, 135, 157);
    margin-top: 100px;
    margin-left: 200px;

}