.button-summer{
    color: rgb(255, 222, 92);
       
    margin-top: 200px;
    margin-left: 300px;

}
.button-spring{
    color: #f79ff7;
    margin-top: 200px;
    margin-left: 300px;

}
.button-autumn{
    color: rgb(180, 123, 104);
    margin-top: 200px;
    margin-left: 300px;

}